<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>savedShip</key>
	<integer>0</integer>
	<key>weapon1</key>
	<string>radiantGun</string>
	<key>weapon2</key>
	<string></string>
	<key>weapon3</key>
	<string></string>
</dict>
</plist>
