<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key></key>
		<string></string>
		<key>shipName</key>
		<string>Alcatraz</string>
		<key>baseHP</key>
		<integer>100</integer>
		<key>baseArmor</key>
		<integer>0</integer>
		<key>baseShield</key>
		<integer>100</integer>
		<key>weaponSlot</key>
		<integer>1</integer>
		<key>equipmentSlot</key>
		<integer>0</integer>
		<key>specialAttribute1</key>
		<string></string>
		<key>specialAttribute2</key>
		<string></string>
		<key>specialAttribute3</key>
		<string></string>
		<key>specialAttribute4</key>
		<string></string>
	</dict>
</array>
</plist>
